<form id="contactForm" name="contactForm">
  <div class="form-group row">
    <label for="inputName" class="col-sm-2 col-form-label">Name: </label>
    <div class="col-sm-4">
      <input type="text" id="contactName" name="contactName" ng-model="contact.contactName" class="form-control" placeholder="Enter Name" required="required">
      <div ng-show="contactForm.contactName.$invalid"><span class="label label-danger">Please Enter contact name.</span></div>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputCompany" class="col-sm-2 col-form-label">Company: </label>
    <div class="col-sm-4">
      <input type="text" id="companyField" name="companyField" ng-model="contact.company" class="form-control" placeholder="Enter Company" required="required">
      <div ng-show="contactForm.companyField.$invalid"><span class="label label-danger">Please Enter company name.</span></div>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPhoneNumber" class="col-sm-2 col-form-label">Phone Number: </label>
    <div class="col-sm-4">
      <input type="text" id="phoneNumberField" name="phoneNumberField" ng-model="contact.phoneNumber" class="form-control" placeholder="Enter Phone Number" required="required">
      <div ng-show="contactForm.phoneNumberField.$invalid"><span class="label label-danger">Please Enter phone number.</span></div>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputEmail" class="col-sm-2 col-form-label">Email: </label>
    <div class="col-sm-4">
      <input type="email" id="emailField" name="emailField" ng-model="contact.email" class="form-control" placeholder="Enter Email" required="required">
      <div ng-show="contactForm.emailField.$invalid"><span class="label label-danger">Please Enter email address.</span></div>
    </div>
  </div>
  <div class="form-group row text-center">
    <div class="col-sm-4">
      <button type="button" class="btn btn-success" ng-click="contactForm.$valid ? saveContactInformation() : false" ng-disabled="diableSaveButton">Save</button>
      <button type="button" class="btn btn-danger" ng-click="goBackToPrevious()">Cancel</button>
      <button type="button" class="btn btn-warning" ng-click="addAnotherContact()">Rest</button>
    </div>
  </div>
</form>
<div ng-show="showOutputMsg" class="text-center">
    <div class="col-sm-4"><div class="alert alert-info" role="alert"><strong>{{outputMsg}}</strong></div></div>
</div>	